body {
  font-family: 'Trebuchet', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}
.example {
  border: 1px dotted #ccc;
  margin-right: 240px;
  margin-top: 50px;
  max-width:675px;
  padding: 10px 20px;
}
.CustomHandle {
  border-radius: 10px;
  background-color: green;
  height: 20px;
  width: 20px;
  margin-left: -10px;
}
.CustomHandle--end {
  background-color: blue;
  border-radius: 0px;
  transform: rotate(45deg);
}
.CustomHandle.is-sliding {
  box-shadow: 0 0 20px red;
}
