<div class="EmberRangeSlider-base"></div>
<div class="EmberRangeSlider-active" style={{activeRangeStyle}}></div>
{{component startHandleComponentKey
            class="EmberRangeSlider-handle EmberRangeSlider-handle--start"
            isSliding=isSlidingStartHandle
            style=startHandleStyle}}
{{component endHandleComponentKey
            class="EmberRangeSlider-handle EmberRangeSlider-handle--end"
            isSliding=isSlidingEndHandle
            style=endHandleStyle}}
